<div class ="container">
  <br><br>
  <blockquote>
    "One way to get the most out of life is to look upon it as an adventure" - William Feather
  </blockquote>
  <br><br>
  <p>Growing up as an Army brat, I had the unique opportunity to see a large portion of our amazing country. My mother implanted a travel bug in me at a young age whisking me off to some pretty atypical vacation locations.  I have ridden a donkey through the Pyranese mountains, explored castle ruins in Germany on Army school field trips, and biked miles and miles through the Appalachian Mountains on West Virginia through some almost untouched valleys.  This undeniable curiosity transfers not only in my affinity for travel, but also in my desire to work in a community where learning never stops.
</div>
  
</div>
