<div class ="container">
  <br><br>
  <blockquote>
    "One way to get the most out of life is to look upon it as an adventure"
  </blockquote>
  <br><br>
</div>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtp1/t31.0-8/10661821_10203727860868226_3137458483657575332_o.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h5>Flat Iron Crossing - Boulder Colorado</h5>
        <h5 class="light grey-text text-lighten-3">January 2015</h5>
      </div>
    </li>
    <li>
      <img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/t31.0-8/11823163_10204606186705823_1867906336140713388_o.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h5>Wrangell-Elias National Park - Kennicott, Alaska</h5>
        <h5 class="light grey-text text-lighten-3">August 2015</h5>
      </div>
    </li>
    <li>
      <img src="https://scontent.xx.fbcdn.net/hphotos-xat1/t31.0-8/12109921_3498478226191_2665815201610151542_o.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h5>Via Ferrata - Telluride, Colorado</h5>
        <h5 class="light grey-text text-lighten-3">October 2015</h5>
      </div>
    </li>
    <li>
      <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xat1/v/t1.0-9/11143714_10205423821848107_699837866160359813_n.jpg?oh=af69024cb6b72e38bc376837a5c041cd&oe=56D97C41"> <!-- random image -->
      <div class="caption center-align">
        <h5>Colorado National Monument - Fruita, Colorado</h5>
        <h5 class="light grey-text text-lighten-3">June 2015</h5>
      </div>
    </li>
  </ul>
</div>
