<div class="parallax-container">
  <div class="parallax"><img src="https://c2.staticflickr.com/6/5548/9035279013_10f53195aa_b.jpg"></div>
  <div class="section no-pad-bot">
    <div class= "container">
    <br>
    <br>
    <div class="row center">
      <!-- <h4 class="header red-text lighten-1">Dynamic student looking for work</h4> -->
    </div>
  </div>
</div>
</div>
  <div class="section white">
    <div class="row container">
      <div class="col s12 m4">
        <div class="center icon-block">
        <h2 class="center black-text">
          <i class="medium material-icons">search</i>
        </h2>
        <h5>Student</h5>
        <p class="light">
          Never stop learning.  Find a job that can never be mastered and you will never be bored.
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">work</i>
      </h2>
      <h5>Adventurer</h5>
      <p class="light">
        Get outside.  Push yourself harder than you have ever worked and prepare to see unstoppable results.
      </p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block center">
    <h2 class="center black-text">
      <i class="medium material-icons">language</i>
    </h2>
    <h5>Traveler</h5>
    <p class="light">
      Leave your house. You don't have to leave the country to discover more about yourself.
    </p>
  </div>
</div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="http://jamescarl.us/assets/img/slider/3.jpg"></div>
</div>
  <div class="section white">
  <div class="row container">
    <p class="grey-text text-darken-3 lighten-3" id="bio" >
    I don't have the typical career path. Three years ago I found myself moving cross country to Vail, Colorado without a job or a place to live.  All I had was a bag and the overwhelming feeling that I needed to leave the confines of the east coast.  After two years of living in the beautiful Gore Range, I am now a full time student at Turing School of Software Programming and Design.  I have transfered my passion for design and aesthetics into web development.
    <br><br>
    Cheers.
    </p>
    <br><br>
  </div>
  </div>
