<div class ="container">
<h2 class="center amber-text"> Technical Skills </h2>
  <div class="row">
    <div class="col s4">
      <h4> Ruby </h4>
      <p> Ruby is a simple but powerful object-oriented programming language created by Yukihiro Matsumoto.</p>
    </div>
    <div class="col s4">
      <h4> Rails </h4>
      <p> Rails is a model–view–controller framework, providing default structures for a database, a web service, and web pages.</p>
    </div>
    <div class="col s4">
      <h4> JavaScript </h4>
      <p> JavaScript is a high-level, dynamic, untyped, and interpreted programming language.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h4> Materialize </h4>
      <p> Material Design is a design language that combines the classic principles of successful design along with innovation and technology. </p>
    </div>
    <div class="col s4">
      <h4> HTML/CSS </h4>
      <p>  HTML is the markup language that you surround content with, to tell browsers about headings, lists, tables, etc. CSS is the stylesheet language that you style the page with, to tell browsers to change the color, font, layout, and more.</p>
    </div>
    <div class="col s4">
      <h4> Haml </h4>
      <p> Haml is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code. </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h4> Ember.js </h4>
      <p> Ember.js is an open-source JavaScript web framework, based on the model–view–controller (MVC) pattern. It allows developers to create scalable single-page web applications by incorporating common idioms and best practices into the framework. </p>
    </div>
    <div class="col s4">
      <h4> Electron </h4>
      <p> Electron, formerly known as Atom Shell, is a framework used to build cross platform desktop apps with web technologies.  Electron has since been used to create applications by companies like Microsoft, Facebook, Slack, and Docker.</p>
    </div>
    <div class="col s4">
      <h4> Node.js </h4>
      <p> Node.js is an open-source, cross-platform runtime environment for developing server-side Web applications.  </p>
    </div>
  </div>
<br><br>

<h2 class="center amber-text">"An Intimate Evening with Javascript" Talk at DenverScript</h2>
<h5 class="center black-text"> April 26th, 2016</h4>
<p class="center">I spoke at the April Meetup for DenverScript for the beginner's track. I discussed the in's and out's of some of the trickier concepts a developer faces while learning JavaScript. Undefined is defined as well as Nan equally a were brought up as well as a few other oddities.</p>
<div class="center">
  <img class="materialboxed" width="850"  src="https://pbs.twimg.com/media/ChAmG2NUcAAlHSg.jpg" data-caption="DenverScript - April 2016">
</div>

<br><br><br>
<h2 class="center amber-text">Turing School of Software & Design</h2>
  <blockquote>
    "Our Web Development program is a full-time seven-month commitment made up of four six-week classes with a one-week intermission between each. Each class has 20-28 students. A new group of students begins the program every seven weeks.

      The six-week classes include:

      Ruby Fundamentals, Object-Oriented Programming, and Test-Driven Development,
      Ruby Web Applications with Sinatra and Rails,
      Professional Web Applications, Security, and Agile Methodologies, and
      Performance, APIs, Services, and Client-Side JavaScript."
  </blockquote>
  <br><br><br><br>
</div>
