<div class ="container">
<h2 class="center amber-text"> Technical Skills </h2>
  <div class="row">
    <div class="col s4">
      <h4> Ruby </h4>
      <p> Ruby is a simple but powerful object-oriented programming language created by Yukihiro Matsumoto.</p>
    </div>
    <div class="col s4">
      <h4> Rails </h4>
      <p> Rails is a model–view–controller framework, providing default structures for a database, a web service, and web pages.</p>
    </div>
    <div class="col s4">
      <h4> JavaScript </h4>
      <p> JavaScript (/ˈdʒɑːvəˌskrɪpt/[5]) is a high-level, dynamic, untyped, and interpreted programming language.</p>
    </div>
  </div>
</div>
