<div class ="container">
<h2 class="center amber-text"> Technical Skills </h2>
  <div class="row">
    <div class="col s4">
      <h4> Ruby </h4>
      <p> Ruby is a simple but powerful object-oriented programming language created by Yukihiro Matsumoto.</p>
    </div>
    <div class="col s4">
      <h4> Rails </h4>
      <p> Rails is a model–view–controller framework, providing default structures for a database, a web service, and web pages.</p>
    </div>
    <div class="col s4">
      <h4> JavaScript </h4>
      <p> JavaScript is a high-level, dynamic, untyped, and interpreted programming language.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h4> Materialize </h4>
      <p> Material Design is a design language that combines the classic principles of successful design along with innovation and technology. </p>
    </div>
    <div class="col s4">
      <h4> HTML/CSS </h4>
      <p>  HTML is the markup language that you surround content with, to tell browsers about headings, lists, tables, etc. CSS is the stylesheet language that you style the page with, to tell browsers to change the color, font, layout, and more.</p>
    </div>
    <div class="col s4">
      <h4> Haml </h4>
      <p> Haml is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code. </p>
    </div>
  </div>
<br><br><br><br>
<h2 class="center amber-text">Turing School of Software & Design</h2>
  <blockquote>
    "Our Web Development program is a full-time seven-month commitment made up of four six-week classes with a one-week intermission between each. Each class has 20-28 students. A new group of students begins the program every seven weeks.

      The six-week classes include:

      Ruby Fundamentals, Object-Oriented Programming, and Test-Driven Development,
      Ruby Web Applications with Sinatra and Rails,
      Professional Web Applications, Security, and Agile Methodologies, and
      Performance, APIs, Services, and Client-Side JavaScript."
  </blockquote>
  <br><br><br><br>
</div>
